Group Memebers

*   Chirag Gupta - 10623123
*   Chukwuebuka Uwaoma - 10621864
*   Dipanshu

In [31]:
# Import necesarry libraries
import tweepy
import os
from dotenv import load_dotenv
import numpy as np
import pandas as pd

In [32]:
# Load dotenv and read secret keys and tokens
load_dotenv()
api_key = os.getenv('api_key')
api_secret_key = os.getenv('api_secret_key')
access_token = os.getenv('access_token')
access_token_secret = os.getenv('access_token_secret')

In [33]:
# Connect to twitter using tweepy API and stored tokens
auth = tweepy.OAuthHandler(api_key,api_secret_key)
auth.set_access_token(access_token,access_token_secret)
api = tweepy.API(auth)

In [37]:
# Pulls tweets based on search query and geocode location
tweetlist = []
geocode="53.1424,-7.6921,300km" # "53.3498053,-6.2603097,25km"
tweets = tweepy.Cursor(api.search_tweets, q='housing', geocode=geocode, lang='en', tweet_mode="extended", count=20).items(20)

# adds tweets to a dataframe
column_names = ["id", "created_at", "full_text", "retweet_count", "favorite_count", "user_location"]
df = pd.DataFrame(columns=column_names)
df.head()

for tweet in tweets:
    #create a new row object
    new_row = pd.Series({
        "id": tweet.id, 
        "created_at":tweet.created_at, 
        "full_text": tweet.full_text, 
        "retweet_count": tweet.retweet_count, 
        "favorite_count": tweet.favorite_count,
        "user_location":tweet.user.location,
    })
    # get the index of the last row
    last_row_index = len(df)
    # add the new row to the DataFrame using .iloc[]
    df.loc[last_row_index] = new_row
df.head()
    
# Pull tweet text, id, created_at_date,  username, retweets, likes saved to temporary dataframe - Virgil

,id,created_at,full_text,retweet_count,favorite_count,user_location
0,1646608956557787136,2023-04-13 20:19:02+00:00,Tipperary County Council on track to meet hous...,0,0,"Co Tipperary, Ireland"
1,1646608956427755520,2023-04-13 20:19:02+00:00,Tipperary County Council on track to meet hous...,0,0,Clonmel
2,1646608556408315905,2023-04-13 20:17:27+00:00,"@AnMailleach Something, something...in favour ...",0,0,"Dublin City, Ireland"
3,1646607226642092047,2023-04-13 20:12:09+00:00,@FineGael @LeoVaradkar @POTUS any chance you c...,0,0,Mayo / Galway ðŸ‡®ðŸ‡ª
4,1646604733799452716,2023-04-13 20:02:15+00:00,@Eldjb1 @KeithMillsD7 I think you're missing t...,0,0,"Dublin City, Ireland"

In [ ]:
# Clean the data
    ## clean text 
    ## date_time in right format eg dd/mm/yyyy - Chirag

# connect to a external DB upload cleaned data
    ## make sure tweets are unique by id - Dipanshu

# pull from database assign to dataframe - DP 
    # tokenize - virgil
    # lematize  - Dipanshu
    # visualise word cloud - Chirag